<%= button_to "Add Product", new_products_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
  <br>

<table class="table" >
  <thead class="bg-warning" >
	 <tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <th>Inventory</th>
	  <th>Picture</th>
	 </tr>
   </thead>
<% @products.each do |product| %>
<tbody>
	 <tr>
	  <td><%= product.name %></td>
	  <td><%= product.description %></td>
	  <td><%= number_to_currency(product.price) %></td>
	  <td><%= product.inventory %> In Store</td>
	  <td><%= image_tag product.picture_url, size: "100" %></td>
	 </tr>
 </tbody>
<% end %>
</table>